
.advanteges{
    @media  (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        }
    @media  (min-width:1200px){
        
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        }
}
.advanteges-element{
    @media   (min-width:480px){
        height:230px ;
        max-width: 450px;
        }
    @media  (min-width:768px){
        height: 226px;
        width: calc((100% - 2 * 30px )/2);
        margin: 15px;
        }
    @media  (min-width:1200px){
        height: 251px; 
        width: calc((100% - 4 * 30px )/4);
        margin: 15px;
        }
    
        &:not(:last-child){
        @media (max-width: 767px){
        margin-bottom: 30px;
        }
        }
}

.advanteges-box{
background: #F5F4FA;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
    @media   (min-width:480px){
        height: 123px;
        width: 450px;
        }
    @media  (min-width:768px){
        height:120px ;
        width: 354px;
        }
    @media  (min-width:1200px){
        height: 120px; ;
        width: 270px;

        }
}
.advanteges-title{
color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 30px;

}
.advanteges-text{
font-size: 14px;
line-height: 1.7;
@media(min-width:480px){
    width: 450px;
    
    }
@media(min-width:768px){
    width: 354px;
    height: 75px;
    }
@media   (min-width:1200px){
    width: 270px;
    }

}
