
.footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
text-align: center;
}
// .page-footer__box{
// display: flex;
// }
// .footer__nav{
//     margin-right: 70px;
// }
// .header__wraper{
//     @include desktop{
//         display: flex;

//     }
// }
.footer__box {
    @include tablet {
        display: flex;
        justify-content: center;
    }

    @include desktop{
        display: flex;
    }
}

.footer__blok{
    &:not(:last-child){
          @include mobile-max{
        margin-bottom: 60px;
        }
    }
  

    &:first-child{
        @include tablet{
            margin-right: 165px;

        }
   
    @include desktop{
        margin-right: 70px;
    }
}
}

.footer__nav-element{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
    &:not(:last-child){
        margin-bottom: 8px;
    }
}

.footer__link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav.link{
    color: #FFFFFF;
}
// .footer__nav.link:hover,
// .footer__nav.link:focus{
//     color: #2196F3;
// }
// .follow + .follow{
// margin-left: 93px;
// }

.follow__title{
color: #FFFFFF;
font-size: 14px;
line-height: 16px;
margin-bottom: 20px;
}
.follow__list{
    display: flex;
    justify-content: center;
}
.follow-container__box{
    &:not(:first-child){
        margin-left: 10px;
    }
}
.follow-container__link{  
width: 44px;
height: 44px;
background: rgba(255, 255, 255, 0.1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-container__icon{
fill: #FFFFFF;
height: 20px;
width: 20px;

transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}
.follow-container__link:hover .follow-container__icon {
background-color:#2196F3;
fill:#FFFFFF
}
.follow-container__link:focus .follow-container__icon{  
background-color:#2196F3;
fill:#FFFFFF
}
.follow-container__link:hover ,
.follow-container__link:focus {  
background-color:#2196F3;
}
.join{
justify-content: center;
align-items: center;
@include desktop{
    display: flex;
    align-items: stretch
   
}

}
.join__lable{
font-size: 12px;
line-height: 14px;
color: #757575;
display: block;
margin-bottom: 4px;
}
.join__input{
outline: none;
width: 450px;
height: 50px;
padding-left:16px;
padding-right: 16px;
margin-bottom: 20px;
color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;

    @include tablet{
        margin-left: 93px;
    }
    @include desktop{
 
        margin-right: 12px;
     
       
    }
}