.hero{
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    
    background-color: #2F303A ;
    background-image: linear-gradient( to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../../images/bg/bg-mobile.jpg'),
    image-set(
        url("../../images/bg/bg-mobile.webp") 1x type("image/webp"),
        url("../../images/bg/bg-mobile@2x.webp") 2x type("image/webp"),
    );
    
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;

    @include tablet {
        background-image: linear-gradient( to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../../images/bg/bg-tablet.jpg"),
        image-set(
          url("../../images/bg/bg-tablet.webp") 1x type("image/webp"),
          url("../../images/bg/bg-tablet@2x.webp") 2x type("image/webp"),
        )
    }

    @include desktop {
        background-image: inear-gradient( to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../img/bg/bg-desktop.jpg"),
        image-set(
          url("../img/bg/bg-desktop.webp") 1x type("image/webp"),
          url("../img/bg/bg-desktop@2x.webp") 2x type("image/webp"),
        )
    }
}
.hero__title{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom:  30px;
    font-size: 26px;
    line-height: 1.36;
     


    @include desktop{
        font-size: 2.75rem;
        line-height: 1.36;
        letter-spacing: 2.64px;
    } 
}