.team{
    background-color: #F5F4FA;
    padding-top: 40px;
    padding-bottom: 60px;
}
.team__list{
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.team__element{
    max-height:622px ;

    @include tablet{
        max-height:536px ;
        margin: 15px;
    }
    @include desktop{
        max-height:428px ; 
        margin: 15px;
    }
    
    &:not(:last-child){
        @include mobile-max{
            margin-bottom: 30px;
        }
    }
}
.team__box{
    width: 450px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #fff;
    border-radius: 4px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;

    @include tablet{
        width: 354px;
    }
    @include desktop{
        width: 270px;
    }
}
.team__title{
    text-align: center;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team__text{
    text-align: center;
    color:  #757575;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 16px;
}
